/* frontend/src/styles/App.css */

.App {
  position: relative;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 90%;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #007bff;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .company_logo {
    width: 80px;
    top: 20px;
    right: 20px;
  }
}

.classifier-explanation {
  font-size: 18px;
  color: #444;
  text-align: center;
  margin-top: 1px;
  font-weight: 500;
  /* font-style: italic; */
  background: linear-gradient(to right, #0056b3, #0091cc); /* Subtle gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Makes gradient apply only to text */
  padding: 10px 20px;
  border-radius: 5px;
}

