/* src/components/Navbar.css */
.navbar {
  background-color: #007bff;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will push the logo to the left and the links to the right */
}

.navbar-logo {
  margin-right: 50px;
}

.navbar-logo img {
  height: auto;
  width: 120px;
  margin-top: 15px;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: center; /* Keep links centered */
  flex-grow: 1; /* Allow the list to grow and take up available space */
  transform: translateX(-55px); /* Move the entire list slightly to the left */
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.navbar-link:hover {
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}